
.nav1{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
}
#parent{
    background-color: #15457c;
}
#b{
    display: flex;
}
#a>img{
    width: 25%;
    
}
#b>div{
    display: flex;
    border-right: 1px dashed gray;
    margin-right: 5px;
}
#b>div>img{
    width: 20%;
    height: 40%;
    margin-top: 20px;
    margin-left: 7px;
}
#b>div>div{
    margin-left: 15px;
    margin-right: 8px;
}
#b>div>div>p{
    line-height: 5px;
    /* font-size: 10px; */
}
#d>div:nth-child(1){
    width: 20%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
   padding-top: 80px;
   margin-left: 30px;
}

.q{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 30px;

}
.q>div{
    border: 2px solid red;
}
.q>div:hover{
    background-color: rgb(173, 230, 225);
}
.ab{
    width:25% ;
    padding-left: 10px;
}
#d{
    width: 80%;
    margin: auto;
    margin-top: 80px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 0px
}
#e{
    padding: 0px;
}

.date{
    width: 15%;
    padding-left: 10px;
}
#select{
    width: 25%;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
}
#e{
    display: flex;
    width: 70%;
    /* border: 2px solid red; */
    justify-content: space-around;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    top: 25px;
}
#e>div{
    border-right: 1px solid gray;
    width: 20%;
    display: flex;
}
#s{
    width: 70%;
    display: flex;
    background-color: white;
    margin: auto;
    /* height: 70px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    top: 50px;
    border-radius: 30px;
}
#s>div{
    height: 105px;
}
a img{
    width: 50%;
    mix-blend-mode: multiply;
    margin-top: 5px;
    margin-left: 20px;
    margin-top: 5px;
}
a{
    color:gray;
    text-decoration:none;
    text-align: center;
}
.carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  #nav3{
    display: flex;
  }
    